[submodule "scripts/lib/safe-core-protocol"]
	path = scripts/lib/safe-core-protocol
	url = https://github.com/5afe/safe-core-protocol
[submodule "scripts/lib/openzeppelin-contracts"]
	path = scripts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
